.history-wrapper {
    min-height: 100%;
    padding-bottom: 50px;
}

.history-content {
    height: 100%;
}

.workout-div {
    width: 50%;
    border: solid 1px black;
    margin: 10px auto;
}

.workout-date-div {
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px grey;
}

.exercise-div {
    padding: 10px;
    border-bottom: solid 1px grey;
}

/* .last-exercise {
    margin-bottom: 10px;
} */

.edit-exercise-btn, .delete-exercise-btn {
    display: inline-block;
    margin: 5px 5px 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    background: black;
    color: white;
}

.delete-workout-btn {
    margin: 10px auto;
}