.history-wrapper {
    min-height: 100%;
    padding-bottom: 50px;
    background-color: #f8f6f6;
}

.history-wrapper header {
    padding-top: 30px;
    background: rgb(37, 179, 148);
    color: white;
    margin: 15px;
    border-radius: 15px;
}

.history-wrapper h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
}

.history-wrapper #history-span {
    font-weight: 600;
}

.history-content {
    height: 100%;
}

.workout-div {
    width: 50%;
    background-color: white;
    border: solid 1px rgb(240, 239, 239);
    border-radius: 8px;
    margin: 10px auto;
    box-shadow: 1px 2px 3px 0 rgb(218, 218, 218);
}

.workout-date-div {
    text-align: center;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    font-weight: 300;
}

.exercise-div {
    padding: 10px;
    border-bottom: solid 1px grey;
}

.exercise-table {
    padding: 10px 40px 20px 40px;
}

.exercise-keys {
    text-align: right;
    font-weight: 300;
    color: grey;
}

.exercise-values {
    text-align: left;
    padding-left: 30px;
}
/* .last-exercise {
    margin-bottom: 10px;
} */

.edit-exercise-btn, .delete-exercise-btn {
    display: inline-block;
    margin: 5px 5px 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    background: black;
    color: white;
}

.delete-workout-btn {
    margin: 10px auto;
}