/* GENERAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    /* background-color: #f8f6f6; */
    font-family: 'Lexend', sans-serif;
    height: 100%;
}

.wrapper {
    background-color: #f8f6f6;
    position: relative;
    z-index: 5;
    padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend', sans-serif;
}

h1 {
    font-size: 35px;
    font-weight: 500;
}

h3 {
    font-weight: 400;
}
  
/* body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

.card.m-auto,
.m-auto {
    margin: 0 auto;
    width: 500px;
}

.d-none {
    display: none !important;
}

/* NAVBAR */
nav {
    background-color: white;
    position: relative;
    z-index: 10;
    height: 100px;
    padding: 10px;
    line-height: 3;
    font-size: 15px;
    box-shadow: -3px -8px 14px 1px grey;
}

.nav-title {
    float: left;
    width: fit-content;
}

.nav-links {
    float: right;
    padding-top: 30px;
    margin-right: 20px;
    text-align: right;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

nav a {
    margin: 0 10px;
}

.nav-links a:hover{
    opacity: 0.5;
}

#fitness-tracker-link {
    font-weight: 600;
    border-bottom: solid 3px black;
}

/* HEADER */
header {
    height: 120px;
    padding-top: 50px;
    text-align: center;
    font-size: 1.5rem;
}

header h1 {
    transform: skewX(-2deg);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col {
    flex: 1;
}

.ui.card h2 {
    padding: 10px;
}

.buttons .ui.button:first-child {
    border-radius: 8px;
}

.buttons .ui.button:nth-child(2) {
    border-radius: 8px;
}

/* .buttons .ui.button:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.buttons .ui.button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
} */

button {
    display: block;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

form label {
    width: 150px;
    margin-top: 0.7rem;
}

/* form > button {
  float: right;
  margin-top: 20px;
} */

form::after {
    content: " ";
    display: block;
    clear: both;
}

/* .d-none {
  display: none;
} */

button {
    display: block;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

/* #toast {
    border-radius: 4px;
    border-width: 1px;
    font-size: 13px;
    line-height: 19.5px;
    margin: 0px 0px 16px;
    padding: 12px 59.5px 12px 20px;
    text-align: left;
    width: 300px;
    min-height: 80px;
    position: fixed;
    top: 10px;
    right: -320px;
    opacity: 0;
    transition: all 0.5s;
}

#toast.success {
    right: 10px;
    background-color: hsl(94, 40%, 86%);
    color: hsl(94, 90%, 16%);
    transition: all 0.5s;
} */

form label {
    width: 150px;
    margin-top: 0.7rem;
}

form > button {
    float: right;
    margin-top: 20px;
}

form::after {
    content: " ";
    display: block;
    clear: both;
}

/* .d-none {
  display: none;
} */
/* 
button {
  display: block;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  padding: 10px;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
} */

/* #toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
} */

/* .d-none {
    display: none;
} */

.btn,
button {
    display: block;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

form > button {
    margin: 5px;
    margin-top: 20px;
}

/* #toast {
    border-radius: 4px;
    border-width: 1px;
    font-size: 13px;
    line-height: 19.5px;
    margin: 0px 0px 16px;
    padding: 12px 59.5px 12px 20px;
    text-align: left;
    width: 300px;
    min-height: 80px;
    position: fixed;
    top: 10px;
    right: -320px;
    opacity: 0;
} */
